<div class= show-spot >

  <div class="banner" style="background-image: url(<%= @spot.photo.attached? ? cl_image_path(@spot.photo.key) : image_tag("surfer.jpg") %>)">
    <h1>Le savais-tu ?</h1>
    <h3><%= @spot.name %></h3>
  </div>

  <div class= "spot-details">
    <div class="spot-content">
      <h2>Adresse du spot</h2>
      <div class="spot-div">
        <p><%= @spot.address %></p>
      </div>

    <div class="spot-content">
      <h2>Infos utiles</h2>
      <div class="spot-div">
        <p><%= @spot.description %></p>
      </div>

    </div>
    <div class="btn-join-back">
      <%= link_to, onclick: "window.history.back();", id: "icone-arrow" do %>
        <h2 class="btn-small" >Retour</h2>
      <% end %>
    </div>
  </div>
    <%= render 'shared/navbar' %>
</div>
