<div class="sessions-index">
<div class="map">
</div>
<div class="cards-container">
  <%= render 'shared/session_card' %>
  <%= render 'shared/session_card' %>
  <%= render 'shared/session_card' %>
  <%= render 'shared/session_card' %>
  <%= render 'shared/session_card' %>
  <%= render 'shared/session_card' %>
</div>
</div>
