<div class="session-card">
  <div class="session-image" style="background-image: url(<%= session.spot.photo.attached? ? cl_image_path(session.spot.photo.key) : asset_path("CDB.jpeg") %>)">
    <div class="session-left">
      <div class="categorie-session">
        <span class="iconify" data-icon="arcticons:weather">soleil</span>
        <h6><%= session.temp %>°</h6>
      </div>
      <div class="categorie-session">
        <span class="iconify" data-icon="carbon:temperature-water">eau</span>
        <h6><%= session.water_temp %>°</h6>
      </div>
      <div class="categorie-session">
        <span class="iconify" data-icon="map:surfing">surfer</span>
        <h6>+2</h6>
      </div>
      <div class="categorie-session">
        <% waves_number = session.wave_height * 2 %>
        <% waves_number.times do %>
          <span class="iconify" data-icon="emojione-v1:water-wave">wave</span>
        <% end %>
      </div>
    </div>
    <div class="session-right">
      <div class="session-favorites">
        <span class="iconify" data-icon="bi:heart">heart</span>
      </div>
      <div class="session-flag">
        <% flag_color = session.flag.downcase %>
        <% if flag_color == "green" %>
          <span class="iconify" data-icon="ooui:flag-rtl" style="color:#4CED52">flag</span>
        <% elsif flag_color == "yellow" %>
          <span class="iconify" data-icon="ooui:flag-rtl" style="color:#ffea00">flag</span>
        <% else  %>
          <span class="iconify" data-icon="ooui:flag-rtl" style="color:red">flag</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="session-bottom">
    <% months = ["Janvier", "Février", "Mars", "Avril", "Mai" , "Juin", "Juillet" , "Aout" , "Septembre", "Octobre", "Novembre", "Décembre"] %>
    <p> <%= session.date_time_start.day %> &nbsp;</p>
    <p> <%= months[session.date_time_start.month - 1] %> &nbsp;</p>
    <span class="pink"> ● &nbsp;</span>
    <p> <%=  %> <%= session.spot.name %> &nbsp;</p>
    <span class="pink"> ● &nbsp;</span>
    <p>14km</p>
  </div>
</div>
