<% require 'date' %>

<div class="dashboard">
  <div class="top">
    <h1>Dashboard de <span class="highlight"><%= @user.name %></span></h1>
  </div>
  <div class="incoming">
    <h3 class="main-title">Sessions à ce jour: <span class="highlight"><%= @my_future_participations.count %></span></h3>
  <% @my_future_participations.each do |participation| %>
    <% if participation.status == false && participation.updated_at || Date.today - 12 %>
      <%= render 'shared/participation_card', participation: participation %>
    <% end %>
  <% end %>
  </div>
  <h1><%= current_user.score %></h1>
  <%= render 'shared/navbar' %>
</div>
