<div class="sessions-index">
  <div class="map">
  </div>
  <div class="cards-container">
<%#     <div class="card-sessions-container"> %>
    <div class="card-session-top">
      <div class="card-session-overlay">
    </div>
    </div>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
      <%= render 'shared/session_card' %>
    </div>
  </div>
</div>
