<div class="sessions-index" data-controller="index">
    <div class="main-title-session">
        <h2>Aloha, <span class="highlight"><%= @user.name %> ! </span></h2>
        <br>
        <p> Découvre les spots adaptés à ton niveau cette semaine ! </p>
    </div>
  <div class="map" style="width: 100%; height: 100vh;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="cards-container" data-index-target="cardcontainer">
    <div class="swipe-up" data-action="click->index#swipeup" data-index-target="swipeup"></div>
    <div class="scroll-container">
      <h3>Nous avons créé <font color= "#FF1569"><strong><%= @activities.count %></strong></font> sessions</h3>
      <div class="card-sessions-container">
          <% @activities.each do |activity| %>
            <%= render 'shared/session_card', activity: activity %>
          <% end %>
      </div>
    </div>
  </div> %>
</div>
<%= render 'shared/navbar' %>
