<div class= show-session >
  <div class="banner" style="background-image: url(<%= @activity.spot.photo.attached? ? cl_image_path(@activity.spot.photo.key) : image_tag("surfer.jpg") %>)">
    <div class="container">
      <h1>Session</h1>
      <h2><%= @activity.spot.name %></h2>
    <div class="btn-spot">
      <%= link_to "Afficher le spot", spot_path(@activity.spot.id), class: "btn-big" %>
    </div>
    </div>
  </div>



  <div class= "session-details">
    <div class="session-content">

      <div class="session-div">
        <span class="iconify" data-icon="carbon:wave-height"></span>
        <p>Environ <strong><%= @activity.wave_height %>m</strong> de vague</p>
      </div>

      <div class="session-div">
              <span class="iconify" data-icon="raphael:temp"></span>
              <p>Air: <strong><%= @activity.temp %>°C</strong></p>
            </div>

      <div class="session-div">
        <span class="iconify" data-icon="ion:shirt"></span>
        <p>Eau: <strong><%= @activity.water_temp %>°C</strong><br>Combinaison recommandée: <strong><%= @wetsuit %></strong></p>
      </div>

      <div class="session-div">
        <% flag_color = @activity.flag.downcase %>
        <% if flag_color == "green" %>
          <span class="iconify" data-icon="ooui:flag-rtl" style="color:#4CED52">flag</span>
          <p>Conditions idéales !</p>
        <% elsif flag_color == "yellow" %>
          <span class="iconify" data-icon="ooui:flag-rtl" style="color:#ffea00">flag</span>
          <p>Danger potentiel, restez sur vos gardes</p>
        <% else  %>
          <span class="iconify" data-icon="ooui:flag-rtl" style="color:red">flag</span>
          <p>Surfez à vos risques et périls </p>
        <% end %>
      </div>

      <div class="session-div">
        <span class="iconify" data-icon="bi:wind"></span>
        <p>Vent: <strong><%= @activity.wind %> nts</strong> </p>
      </div>

      <div class="session-div">
        <span class="iconify" data-icon="iconoir:sea-and-sun"></span>
        <p>Info marée: surfer entre <br> <strong><%= @activity.date_time_start.strftime('%Hh%M')%> et <%= @activity.date_time_end.strftime('%Hh%M')%></strong></p>
      </div>

      <div class="session-div">
        <span class="iconify" data-icon="carbon:wave-period"></span>
        <p>Période des vagues: <%= @activity.period %></strong></p>
      </div>

      <div class="session-div">
        <span class="iconify" data-icon="carbon:skill-level-basic"></span>
        <p>Niveau: <strong>moyen à confirmé</strong> </p>
      </div>

      <div class="session-div vertical">
        <span class="iconify" data-icon="clarity:info-standard-line"></span>
        <p><%= @activity.tips %>  </p>
      </div>

      <div class="session-div">
      </div>

      <div class= "buddies">
        <span class="iconify surf" data-icon="map:surfing"></span>
          <div class="avatars">
            <% if @participations.count == 0 %>
              <h2>Il n'y a pas encore de participants !</h2>
            <% else %>
              <% @participations.each do |participation| %>
                <%= participation.user.photo.attached? ? cl_image_tag(participation.user.photo.key, height: 40, width: 40, crop: :fill ) : image_tag("surfer.jpg")%>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>

    <div class="btn-join-back">
      <%= link_to, onclick: "window.history.back();", id: "icone-arrow" do %>
        <h2 class="btn-small" >Retour</h2>
      <% end %>
      <%= link_to "Rejoindre", new_activity_participation_path(@activity), class: "btn-medium" %>
    </div>
  </div>
</div>
